@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainColor: rgb(62, 99, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(27, 35, 66);
  color: white;
}

.dark-mode input::placeholder {
  color: white;
}

.poppins {
  font-family: var(--font-poppins);
}

.poppins-regular {
  font-weight: 400;
}

.poppins-light {
  font-weight: 300;
}

.poppins-thin {
  font-weight: 100;
}

.poppins-semibold {
  font-weight: 600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
